.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
}

.vimaanway {
  text-decoration: none;
  color: #fff;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.title-span {
  color: #333;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-links a:hover {
  color: #333;
}

.partition {
  color: #a8a7a7;
  font-weight: 700;
}

.nav-button {
  background-color: transparent;
  color: #333;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  box-shadow: none;
}

.nav-button:hover {
  color: #333;
  border: 2px solid #333;
}