#guide-container {
    align-items: center;
    padding-bottom: 30px;
}

#guideFlight-content {
    margin: 0 auto 0 auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

hr {
    width: 95%;
    border: 1px solid #616060;
}

#guide-container img {
    width: 520px;
}

#guideImage-container {
    display: flex;
    padding: 50px;
    margin-top: 20px;
}

#guide-image img {
    flex: 1;
}

#guideImage-tagline {
    flex: 1;
    text-align: center;
}

#guideImage-tagline h2 {
    font-size: 75px;
    color: #362f25;
}

#guideImage-tagline p {
    font-size: 20px;
    color: #3f3d3b;
}

#guideImage-tagline .guide-quote {
    font-size: 18px;
    color: #1f1b17;
    font-style: italic;
    margin-top: 40px;
}

.carousel {
    width: 100%;
    overflow-x: scroll;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.carousel__container {
    white-space: nowrap;
    margin: 70px 100px 70px 0;
    padding-bottom: 10px;
    display: inline-block;
}

.categories__title {
    color: rgb(46, 29, 13);
    font-size: 28px;
    text-align: center;
    margin-top: 100px;
}

.categories__info {
    text-align: center;
    width: 80%;
    margin: auto;
    color: rgb(92, 92, 92);
}

.carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #95bcd6;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 70px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 1000ms all;
    transition: 1000ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover~.carousel-item {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    height: 100%;
}

.carousel-item__details {
    background: -webkit-gradient(linear,
            left bottom,
            left top,
            from(rgba(0, 0, 0, 0.9)),
            to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details .carousel-item__details--title {
    color: #fff;
    margin: 5px 0;
    font-size: 14px;
}